*{
    padding: 0%;
    margin: 0%;
}
.bg-light {
    background-color: #1A237E!important;
}
.nav-link{
  color: white !important;
  
}
.dropdown-item{
  background-color: #1A237E;
  color: white;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: #1A237E !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    color: white !important;
  }
	
	.nav-link{
    font-weight: bold;!important;
  }
 /* .main{
    background-color: #B0BEC5;
  }*/
  ul{
    
    
    padding-right: 100px;
    list-style-type: none;
    
}


ul li{
    float:  right;
   
  

}
.smain{
  background-color:#1A237E;
  height: 400px;
                  

  text-align: center;
  word-spacing: normal;
  background-position: left bottom;
  padding-top: 60px;
}
.footer{
    background-color: crimson;
      width: 100%;
    height: 85px;
}
      
h1{
    padding-bottom: 40px;
    color: #1A237E
   
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.form{
 background-color:#1A237E;
 padding: 10px;
    
          }
         .card1, .card2, .card3{
    
          display: flex;
          width: 250px;
          height: 80px;
          box-shadow: 2px 4px 5px grey;
          text-align: center;
          background-color: #1A237E;
          color: white;
          justify-content:center;
          align-items: center;
          margin-top: 10px;
         }
         .ma{
          margin-top:30px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: wrap;
         }
         .fa-truck, .fa-phone-square, .fa-thumbs-up{
          font-size: 50px !important;
         }
         h3{
          padding: 5px;
         }
         
         .flat{
          margin-top: 10px;

         }
         .card{
          width: auto;
          height: auto;

         }
         .card-text{
          font-weight: bold;
         }
         .btn{
          width: 150px;
          justify-content: center;
          background-color: #1A237E;
        
          color:white;
         }
         h1{
          color: #1A237E;
          text-align: center;
          size: 40px;
          margin-top: 40px;
          font-weight: bolder;
          font:  'Cookie', cursive;
         }
header{
  text-align: center;
  padding-top: 100px;
  margin-bottom:190px;
}
 
header h1{
  font: normal 32px/1.5 'Open Sans', sans-serif;
  color: #1A237E;
  padding-bottom: 16px;
}
 
header h2{
  color: #F05283;
}
 
header span{
  color: #3F71EA;
}
 
 
/* The footer is fixed to the bottom of the page */
 
footer{
  position: fixed;
  bottom: 0;
}
 
@media (max-height:800px){
  footer { position: static; }
  header { padding-top:40px; }
}
 
 
.footer-distributed{
  background-color: #1A237E;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
  width: 30%;
}
 
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
  width: 30%;
}
 
.footer-distributed h3 span{
  color:  #e0ac1c;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
  width: 35%;
}
 
 
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
 
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
 
.footer-distributed .footer-center p a{
  color:  #e0ac1c;
  text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
  width: 30%;
}
 
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
 
.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
  margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
 
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
 
  margin-right: 3px;
  margin-bottom: 5px;
}
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
 
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
 
}
.logo{
  text-align: left;
  font: normal 36px 'Cookie', cursive;
  color: white
}
.logoimg{
   width: 35px;
  height: 35px;
}